[Unit]
Description=Verify HP Omen Fan Control Driver (Hourly)
Documentation=https://github.com/WillSanCaZam/omen-fan-control

[Timer]
OnCalendar=hourly
Persistent=true
RandomizedDelaySec=5m
AccuracySec=1s

[Install]
WantedBy=timers.target